langchain
langchain-core 
langchain-community
langchain_chroma
langchain_text_splitters
langserve
transformers
tqdm
faiss-cpu
chromadb
huggingface_hub
pydantic
multiprocessing-logging
numpy
langchain_huggingface
bitsandbytes
fastapi
accelerate>=0.26.0 
Pillow
pypdf
rapidocr-onnxruntime